/*#movieGenreLabel{
margin-bottom: 10px;
margin-left: 15px;
text-align: left;
color: white;
font-size: 24px;
text-shadow: 2px 2px 4px #a20909;
}
*/
body, html {
      background-color:   #EEEEEE !important;
  }

button.btnModal{
    background-color: #EEEEEE;
    border: #EEEEEE	;
}

img {
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 100%;
}

.hdr1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
}

.retroshadow {
    color: #2c2c2c;
    /*background-color: #d5d5d5;*/
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);

 }

 .movieName {
 	font-size: 20px;
 	font-weight: bold;
 }

 .overview {
 	color: #808080;
 }

.footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #d5d5d5;
}